<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationFrameworkSuite">

<listeners>
<listener class-name="ProjectResources.Listeners"/>
<listener class-name="ProjectResources.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="RegistrationApplicationTest">
  <classes>
  <class name="TestCases.RegistrationPageTest"/>
  </classes>
  </test>
  
  <test thread-count="5" name="LoginApplicationTest">
  <classes>
  <class name="TestCases.LoginPageTest"/>  
  </classes>
  </test>
   
  <test thread-count="5" name="TitleValidationApplicationTest">
  <classes>
  <class name="TestCases.ValidateTitle"/>
  </classes>
  </test>
  
  </suite> <!-- Suite -->
